@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #202020;
  --background: var(--white);
  --foreground: var(--black);
}

.dark {
  --background: var(--black);
  --foreground: var(--white);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
